@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-1: 0 0 20;
    --color-background-2: 0 0 50;
    --color-background-3: 0 0 80;
  }
}

body {
  background: var(--color-background-1);
}
