@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background-dark: 20 40 80;
    --color-background-medium: 40 60 100;
    --color-background-light: 55 75 115;
    --color-accent: 0 220 220;
  }
}

@layer components {
  .section-container {
    @apply space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl;
  }
  .section-header {
    @apply text-3xl font-extrabold tracking-tight text-skin-accent sm:text-4xl;
  }

  @keyframes rotate {
    0% {
      transform: perspective(15cm) rotateY(-45deg) rotateZ(0deg);
    }
    20% {
      transform: perspective(15cm) rotateY(-45deg) rotateZ(0deg);
    }
    30% {
      transform: perspective(15cm) rotateY(-45deg) rotateZ(180deg);
    }
    70% {
      transform: perspective(15cm) rotateY(-45deg) rotateZ(180deg);
    }
    80% {
      transform: perspective(15cm) rotateY(-45deg) rotateZ(360deg);
    }
    100% {
      transform: perspective(15cm) rotateY(-45deg) rotateZ(360deg);
    }
  }

  .spin-z {
    animation: rotate 12s ease-in-out infinite;
  }

  .spin-z-reverse {
    animation: rotate 12s ease-in-out infinite reverse;
  }
}

body {
  background: rgb(var(--color-background-dark));
}

.super-shadow {
  filter: drop-shadow(0 0 0.25rem #142850);
}
